* {
	box-sizing: border-box;
}

body {
	background: #FAEBD7 url('../images/dot-grid.png');
	color: #333;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover { color: Tomato; }

header, nav, main, footer {
	width: 80%;
	margin: auto;
}

/* Header styles */
header { 
	background-color:rgb(3, 35, 38);
	width: auto;
	color: rgb(218, 177, 98);
	min-height: 20%;
}

header h1 {
	padding: 30px;
	font-family: eurostile-extended, sans-serif;
	font-weight: 900;
	font-size: 25pt;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

/* Nav styles */
nav { 
	background-color: rgb(3, 35, 38);
	width: auto;
	padding-bottom: none;
}

nav ul { 
	display: flex;
	justify-content: center;
}

nav li { 
	padding: 30px;
	font-size: 10pt;
	font-family: titling-gothic-fb-condensed, sans-serif;
	text-transform: uppercase;
}

nav a { 
	color: white; 
	transition: .3s all ease-in-out;
}

nav a:hover { 
	color: black;
	letter-spacing: 1.5px;
}


/* Main styles */
main { 
	background-color: #fff;
	display: grid;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
}

/* Footer styles */
footer { 
	background-color: #000;
	color: white;
	text-align: center;
 }
 footer p { padding: 20px; }