* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

.kitten-pics {
    display: flex;
    width: 70%;
    margin: auto;
}

.kitten-pics .child {
    flex: 50%;
    padding: 20px;
}

.news {
    display: flex;
}

.news .left {
    flex: 20%;
}

.news .middle {
    flex: 50%;
}

.news .right {
    flex: 30%;
}

.news article {
    flex: 1;
    padding: 20px;
}

.news article.feature {
    flex: 2;
}
