* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  margin: 0;
  background-color: crimson;
}
h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 100%;
}
h1 {
  font-size: 32px;
  line-height: 40px;
}
h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}
header h2 {
  font-weight: normal;
}
header {
  width: 90%;
  margin: auto;
}
.feature, .news-thumbs {
  display: flex;
  flex-direction: column;
}
.feature div, .news-thumbs article {
  flex: 1;
}
.no-widows {
  display: none;
}
.feature, .feature-content, .content-card {
  width: 90%;
  margin: auto;
}
.button {
  display: inline-block;
  padding: 12px 16px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}
.button:hover {
  background-color: blue;
  color: white;
}
.extra-content-blurb {
  display: none;
}
.hide-desktop {
  display: block;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
  .feature {
    flex-direction: row;
    width: 80%;
    margin: auto;
  }
  .extra-content-blurb {
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  header {
    width: 80%;
  }
  .button {
    background-color: chartreuse;
    border: 2px solid blue;
    color: black;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button:hover {
    background-color: blue;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 68px;
  }
  h2 {
    font-size: 32px;
    line-height: 42px;
  }
  header h2 {
    font-weight: bold;
  }
  .feature, .news-thumbs {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
  }
  article {
    margin-right: 30px;
  }
  article:last-child {
    margin-right: 0px;
  }
  .news-thumbs {
    margin-top: 60px;
  }
  .feature, .article-tidbit {
    display: blocl;
  }
  .feature-content {
    padding-left: 30px;
  }
  body {
    background: chartreuse;
  }
}

@media only screen and (min-width: 2400px) {
  .feature, .news-thumbs, header{
    width: 60%;
  }
}