* {
	box-sizing: border-box;
}


body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    background: #d4d0ca;
    margin: auto;
}

h1 {
    font-size: 32px;
    font-family: 'Arbutus Slab', serif;
    margin-bottom: 0;
    font-weight: bold;
}

h2 {
  font-family: 'Arbutus Slab', serif;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 0;
  font-weight: bold;
}

h3 {
  font-family: 'Arbutus Slab', serif;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 0;
  font-weight: bold;
}

header {
    width: 90%;
    margin: auto;
}

img {
    width: 100%;
    margin: 0;
}

.slider {
    margin: 0 auto;
    margin-top: -50px;
    padding-bottom: 30px;
}

.slide-content {
    position: relative;
    text-align: center;
}

.slide-content img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
}
  
.cta.donate{
    position: absolute;
    top: 30%;
    width: 100%;
}

.grid-x {
    display: flex;
    flex-flow: row wrap;
}

.align-center {
    justify-content: center;
}

.overlay-box {
    background-color: #B9BF0A;
    padding: 10px 20px 10px 20px;
    opacity: 0.7;

}

article {
    background-color: white;
}
.expierence {
    padding: 40px 40px 70px 40px;
}

.support {
    background-color: #F25C05;
}

.support-content {
    padding: 30px 0;
}

.intro {
    background-color: #fff;
}

.intro-content {
    width: 90%;
    margin: auto;
}

.support .support-content, .expierence-card {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
}

.intro, .support, .expierence {
    display: flex;
    flex-direction: column;
}
.intro div, .support div, .expierence article {
    flex: 1;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.center {
    text-align: center
}

.things-text {
    text-align: center;
    padding-top: 30px;
}

.button1 {
    background-color: #B9BF0A; 
    color: black; 
    border: 1px solid black;
}
  
.button1:hover {
    background-color: white;
    color: #B9BF0A;
    border: none;
}

.button2 {
    background-color: #F25C05; 
    color: black; 
    border: 1px solid black;
}
  
.button2:hover {
    background-color: white;
    color: #F25C05;
    border: none;
}

footer {
    background-color: #5A4E3C;
    color: #D4D0CA;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ul,
li {
  list-style: none;
}
  
.right {
    font-size: 20px;
}
  
.right li {
    margin-bottom: 8px;
}
  
footer hr {
    width: 100%;
    color: white;
    margin-top: 32px;
    margin-bottom: 32px;
}
  
.footertype {
    margin-bottom: 16px;
}

/* START of Mobile Menu */
.logo {
    width: 40%;
    padding-top: 50px;
    padding-left: 50px;
}

.nav, .desktop {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #11B7A9;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #11B7A9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 160px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
    margin-top: -300px;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: #11B7A9;
}

.desktop, .menu-desktop, .menu-mobile {
    display: none;
}
/* END OF Mobile Menu */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 60px;
        margin: 0;
    }
    h2 {
        font-size: 36px;
        line-height: 46px;
        margin: 0;
    }
    h3 {
        font-size: 28px;
        line-height: 38px;
        margin: 0;
    }

    .slider {
        padding-bottom: 20px;
    }

    .slide-content img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: bottom;
    }
      
    .slide-content .cta {
        position: absolute;
        top: 50%;
        width: 100%;
    }

    .expierence {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
    }

    .intro {
        flex-direction: row;
        margin: 0 auto;
        width: 80%;
        padding: 100px 0px;
        background-color: #D4D0CA;
    }

    .support {
        flex-direction: row;
        margin: 0 auto;
    }
    .intro div, .support div, .expierence article {
        flex: 1;
    }
    .expierence-card {
        width: 90%;
        margin: auto;
    }

    .intro-image .support-image {
        width: 100%;
    }

    .intro-content {
        background-color: #fff;
        margin: 0;
    }

    .intro-text {
        padding: 50px;
    }
    .support-content {
        padding: 115px 150px 0px 240px;
    }
    
    article {
        margin-right: 60px;
    }
    article:last-child {
        margin-right: 0px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
        padding: 5rem;
    }
    
    .right {
        text-align: left;
    }
    
    .right a:hover {
        color: #11B7A9;
        transition: .2s ease-in-out all;
    }
    
    .left {
        text-align: right;
        width: 20vw;
    }
    
    footer hr {
        display: none;
    }


    /* START of desktop menu for 768 media query */
    .logo {
        width: 20%;
        padding-top: 20px;
        padding-left: 130px;
    }
    
    .menu-desktop {
        width: 100%;
        display: block;
        padding: 0;
        line-height: 50px;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        color: #333;
        justify-content: space-evenly;
    }
    .menu-desktop a:hover {
        color: #11B7A9;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }
    /* END of desktop menu for 768 media query */

}

@media only screen and (min-width:1440px) {
    .feature, .news-thumbs, header {
      width: 60%;
    }
}